@section HeadScripts {
    <script type="text/javascript" data-main="@Url.Content("~/Scripts/typings/SillyChat/init.js")" src="~/scripts/require.js"></script>
}
@section Styles {
    <link href="~/Content/chat.css" rel="stylesheet" />
}

<div data-bind="visible: true" style="display: none;">
    <div>
        <span class="label label-success" data-bind="visible: connected()">connected</span>
        <span class="label label-danger" data-bind="visible: !connected()">disconnected</span>
    </div>
    <div>
        <div class="form-inline controls" data-bind="with: controls">
            <div data-bind="visible: !$root.chat.owner()" class="form-group">
                User name: <input class="form-control" data-bind="value: userName" />
                <button type="button" class="btn btn-primary" data-bind="click: signIn">Sign In</button>
            </div>
            <div data-bind="visible: !!$root.chat.owner()" class="form-group">
                <button type="button" class="btn btn-primary" data-bind="click: signOut">Sign Out</button>
            </div>
        </div>
        <div class="chat" data-bind="visible: !!chat.owner(), with: chat">
            <div class="chat-stats">
                <span class="label label-info" style="font-size: 14px;">
                    Users online:
                    <span data-bind="text: participants().length"></span>
                </span>
                <ul class="chat-participant-list" data-bind="foreach: participants">
                    <li>
                        <img data-bind="attr: { src: avatarUrl, title: name }" />
                    </li>
                </ul>
            </div>
            <ul class="chat-list">
                <!-- ko foreach: orderedMessages -->
                <li class="chat-message" data-bind="
                    template: 'message-template',
                    css: 'chat-message-' + ($root.chat.isYourMessage($data) ? 'yours' : 'theirs')"></li>
                <!-- /ko -->
                <!-- ko foreach: otherWritingParticipants-->
                <li class="chat-message chat-message-draft chat-message-theirs" data-bind="template: 'message-draft-template'"></li>
                <!-- /ko -->
            </ul>
            <div class="chat-input" data-bind="if: owner">
                <textarea data-bind="value: owner().draftText, pressEnter: submitMessage(), valueUpdate: 'input'"></textarea>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="message-draft-template">
    <div class="chat-message-author">
        <img data-bind="attr: { src: avatarUrl, title: name }" />
        @*<div class="chat-message-author-name" data-bind="text: author.name"></div>*@
    </div>
    <div class="balloon">
        <span data-bind="text: draftText"></span>
        <span class="loader"></span>
    </div>
</script>

<script type="text/html" id="message-template">
    <div class="chat-message-author">
        <img data-bind="attr: { src: author.avatarUrl, title: author.name }" />
        @*<div class="chat-message-author-name" data-bind="text: author.name"></div>*@
    </div>
    <div class="balloon">
        <span data-bind="text: text"></span>
    </div>
</script>
