@using Newtonsoft.Json

@section HeadScripts {
    <script type="text/javascript" data-main="@Url.Content("~/Scripts/typings/SillyChat/init.js")" src="~/scripts/require.js"></script>
    <script>
        sillyChatSettings = {
            isAuthenticated: @(JsonConvert.SerializeObject(User.Identity.IsAuthenticated)),
            signInPath: "/Home/SignIn",
            signOutPath: "/Home/SignOut",
        };
    </script>
}
@section Styles {
    <link href="~/Content/chat.css" rel="stylesheet" />
    <style>
        .controls > * {
            display: inline-block;
            margin: 5px;
        }

        .controls .control-label {
            vertical-align: baseline;
        }
        .controls .label {
            vertical-align: middle;
        }
    </style>
}

<div data-bind="visible: true" style="display: none;">
    <div data-bind="visible: controls.isSigningIn()" style="text-align: center; height: 100%">
        <img style="vertical-align: middle;" src="~/Images/ajax-loader.gif" />
    </div>
    <div data-bind="visible: !controls.isSigningIn()">
        <div class="form-inline controls" data-bind="visible: !connected()">
            <span class="label label-danger" data-bind="visible: !connected()">disconnected</span>
            <label class="control-label">User name:</label>
            <input class="form-control" data-bind="pressEnter: controls.signIn(), value: controls.userName, valueUpdate: 'input'" />
            <button type="button" class="btn btn-primary" data-bind="click: controls.signIn">Sign In</button>
        </div>
        <div class="form-inline controls" data-bind="visible: connected()">
            <span class="label label-success">connected</span>
            <label class="control-label">Hello, <span data-bind="text: chat.owner() ? chat.owner().name : ''"></span>!</label>
            <button type="button" class="btn btn-primary" data-bind="click: controls.signOut">Sign Out</button>
        </div>
        <div class="chat" data-bind="visible: connected(), with: chat">
            <div class="chat-stats">
                <span class="label label-info" style="font-size: 14px;">
                    Users online:
                    <span data-bind="text: participants().length"></span>
                </span>
                <ul class="chat-participant-list" data-bind="foreach: participants">
                    <li>
                        <img data-bind="attr: { src: avatarUrl, title: name }" />
                    </li>
                </ul>
            </div>
            <ul class="chat-list">
                <!-- ko foreach: orderedMessages -->
                <li class="chat-message" data-bind="
                    template: 'message-template',
                    css: 'chat-message-' + ($root.chat.isYourMessage($data) ? 'yours' : 'theirs')"></li>
                <!-- /ko -->
                <!-- ko foreach: otherWritingParticipants-->
                <li class="chat-message chat-message-draft chat-message-theirs" data-bind="template: 'message-draft-template'"></li>
                <!-- /ko -->
            </ul>
            <div class="chat-input" data-bind="if: owner">
                <textarea data-bind="value: owner().draftText, pressEnter: submitMessage(), valueUpdate: 'input'"></textarea>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="message-draft-template">
    <div class="chat-message-author">
        <img data-bind="attr: { src: avatarUrl, title: name }" />
    </div>
    <div class="balloon">
        <span data-bind="text: draftText"></span>
        <span class="loader"></span>
    </div>
</script>

<script type="text/html" id="message-template">
    <div style="display: inline-block; width: 86%">
        <div class="chat-message-author" data-bind="css: { left: !$root.chat.hasParticipant(author) }">
            <img data-bind="attr: { src: author.avatarUrl, title: author.name }" />
        </div>
        <div class="balloon">
            <span data-bind="text: text"></span>
        </div>
    </div>
    <div class="chat-message-date" style="display: inline-block; width: 13%;">
        <span data-bind="text: new Date(date).toLocaleTimeString()"></span>
    </div>
</script>
