body {
    padding: 20px 15px 20px 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0 40px -60px 40px;
}

html, body, .body-content {
    height: 100%;
}

footer {
    background: white;
    position: fixed;
    width: 100%;
}

footer > p {
    margin: 20px 40px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
